
:root{
  --color-light: #84a4e6;
  --color-dark: #4363a2;
}


body{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-light);
}
header{
  display: flex;
  margin-bottom: 40px;
  width: 100vw;
  text-align: center;
  justify-content: center;
}
main button{
  width: 80vw;
  height: 80vw;
  font-size: 6vw;
  border: none;
  background-color: var(--color-dark);
  color: white;
  border-radius: 50%;

  box-shadow: 0 50px 0 0px #060708;
  transition: 
        200ms transform ease,
        200ms box-shadow ease;
}
main button:hover{
  transform: translateY(-10px);
  box-shadow: 0 60px 0 0px #060708
}
main button:active{
  transform: translateY(50px);
  box-shadow: 0 0px 0 0px #060708
}


main button span{
  font-size: 50vw;
}

.config{
  border: none;
  background-color: transparent;
  background-image: url(assets/cogwheel.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  
  position: absolute;
  top: 10px;
  right: 10px;

  transition: 200ms transform ease 
}
.config:hover{
  transform: rotate(35deg);
}
.config-panel{
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: var(--color-light);
  color: #000;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 30%;
  z-index: 2;
  border-radius: 5px;
  padding: 10px;
  border: 2px #000 solid;
  transition: 150ms transform cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transform: scale(0);
}

.config-panel textarea{
  resize: none;
  height: 100px;
}
.config-panel input:invalid{
  background-color: #faa;
}
.config-panel input,
.config-panel textarea{
  border: none;
  border-radius: 2px;
  outline: none;
  margin: 10px;
  font-size: 15px;
}
.cover{
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7777;
  z-index: 1;
}

.config-panel button{
  width: 200px;
  height: 40px;
  margin-left: auto;
  margin-top: 10px;
  background-color: var(--color-dark);
  border: none;
  color: #fff;
  font-weight: bold;
  box-shadow: 1px 1px 2px 0px #0006;
}
.config-panel button:active{
  box-shadow: 0px 0px 0px 0px #0006;
  transform: translate(1px, 1px);
}